{% extends 'base.template.html' %}

{% load static %}

{%block content%}




<div style="display:flex;flex-wrap:wrap">

    {%for reviews in reviews %}

    <div class="card m-3" style="width:18rem;">
        <div class="card-body">

            <h6 class="card-title"> Name:{{reviews.name}}</h6>
            <p class="card-title"> Healthfood:{{reviews.healthfood}}</p>
            <p class="card-title"> Description:{{reviews.reviews}}</p>
            <p class="card-title"> Email:{{reviews.Email}}</p>
            <p class="card-title"> Date:{{reviews.date}}</p>

        </div>

        <a href="{% url 'update_reviews_route' reviews_id=reviews.id %}"
            class="btn btn-secondary btn-sm mb-2 mt-2">Edit</a>

        <a href="{% url 'delete_reviews_route' reviews_id=reviews.id %}"
            class="btn btn-secondary btn-sm mb-2 mt-2">Delete</a>
    </div>

    {%endfor%}

</div>
{%endblock%}