{% extends 'base.template.html' %}

{% load static %}

{%block content%}
<h1>Check out what previous buyers are saying</h1>



<div style="display:flex;flex-wrap:wrap">

    {%for reviews in reviews %}

    <div class="card m-3" style="width:18rem;">
        <div class="card-body">

            <h5 class="card-title"> Name:{{reviews.name}}</h5>
            <p class="card-title"> Description:{{reviews.reviews}}</p>
            <p class="card-title"> Email:{{reviews.Email}}</p>
            <p class="card-title"> Date:{{reviews.date}}</p>

        </div>


    </div>

    {%endfor%}

</div>
{%endblock%}