{%extends 'base.template.html'%}
{% load static %}
{%block content %}


<div style="display:flex;flex-wrap:wrap">



    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Item ID</th>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cost</th>
                <th scope="col">Total Cost</th>
                <th scope="col"></th>
                <th scope="col"></th>


            </tr>
        </thead>

        {%for key, item in cart.items %}
        <tbody>

            <tr>

                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.qty}}</td>
                <td>${{item.cost}}</td>
                <td>${{item.total_cost}}</td>
                <td> <a href="{% url 'remove_from_cart' healthfood_id=item.id %}" class="btn btn-danger">Remove item</a>
                </td>
                <td>
                    <form method="POST" action="{% url 'update_cart' healthfood_id=item.id %}">
                        {%csrf_token%}
                        Quantity:<input name="qty" type="text" value="{{item.qty}}"
                            style="width:40px; background-color:white;margin-left:5px;">

                        <input type="submit" value="Update Quantity" style="width:150px" />
                    </form>
                </td>

            </tr>
        </tbody>
        {%endfor%}
    </table>

</div>

{%endblock%}