{%extends 'base.template.html'%}
{% load static %}
{%block content %}

<a href="{% url 'checkout' %}" class="btn btn-secondary m-3">Checkout</a>

<div style="display:flex;flex-wrap:wrap">

    {%for key, item in cart.items %}



    <div class="card m-3" style="width:18rem;">
        <div class="card-body">

            <h3 class="card-title">{{item.title}}</h3></br></br>
            <p class="card-title">Quantity:{{item.qty}}</p>
            <p class="card-title">Cost:${{item.cost}}</p>
            <p class="card-title">Total Cost: ${{item.total_cost}} </p>


            <form method="POST" action="{% url 'update_cart' healthfood_id=item.id%}" class="mb-3">
                {%csrf_token%}
                Quantity:<input name="qty" type="text" value="{{item.qty}}" style="width:40px; background-color:white;"
                    class="mb-3">

                <input type="submit" value="Update Quantity" style="width:150px">
            </form>

            <a href="{% url 'remove_from_cart' healthfood_id=item.id %}" class="btn btn-danger">Remove item</a>

        </div>
    </div>

    {%endfor%}
</div>

{%endblock%}