{% extends 'base2.template.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div style="display:flex;flex-wrap:wrap">

    <div class="card m-3" style="width:18rem;">
        <div class="card-body">

            <img class="card-img-top" src="{{healthfood.image.cdn_url}}" alt="image">

            <h6>{{healthfood.title}}</h6>

            <p>
                Description:{{healthfood.description}}
            </p>

            <p>
                Producer:{{healthfood.maker}}
            </p>

            <p>
                Country:{{healthfood.country}}
            </p>

            <p>
                Ingredients:{{healthfood.ingredients}}
            </p>
        </div>
        {% if request.user.is_superuser%}
        <a class="btn btn-secondary btn-sm mb-2 mt-2"
            href="{% url 'update_healthfood_route' healthfood_id=healthfood.id %}">Edit</a>
        <a class="btn btn-secondary btn-sm mb-2 mt-2"
            href="{% url 'delete_healthfood_route' healthfood_id=healthfood.id %}">Delete</a>
        {% endif %}
    </div>


    <div class="card m-3" style="width:18rem;">
        <div class="card-body">

            <h6 class="card-title"> Macros Information</h6>

            <p>
                Servings: {{healthfood.serving}}
            </p>

            <p>
                Crabohydrates: {{healthfood.nutrition_carbs}}
            </p>

            <p>
                Protein: {{healthfood.nutrition_protein}}
            </p>

            <p>
                Fats:{{healthfood.nutrition_fats}}
            </p>
        </div>
    </div>
</div>


{% endblock %}