{% extends 'base.template.html' %}

{% load static %}
{% load crispy_forms_tags %}

{%block content%}

{% if request.user.is_authenticated  %}
<h4 class="m-3">Welcome {{request.user}}</h4>
{% else %}
<a href="/accounts/login" class="btn btn-primary btn-sm mb-2 mt-2" style="position:absolute; right:10px;">Login</a>
{%endif%}

<a href="/accounts/logout" class="btn btn-primary btn-sm mb-2 mt-2" style="position:absolute; right:130px;">Logout</a>


<form method="GET">
    {{search_form|crispy}}
    <input type="submit" value="Search" />
</form>


<div style="display:flex;flex-wrap:wrap">

    {%for healthfood in healthfood %}


    <div class="card m-3" style="width:18rem;">
        <div class="card-body">
            <a href="{% url 'view_healthfood_details' healthfood_id=healthfood.id %}"><img class="card-img-top"
                    src="{{healthfood.image.cdn_url}}" alt="image"></a>
            <h5 class="card-title"> Name:{{healthfood.title}}</h5>

            <p class="card-title"> Producer:{{healthfood.maker}}</p>
            <p>click on image to see more information</p>
        </div>




    </div>



    {%endfor%}



</div>
{%endblock%}