{% extends 'base.template.html' %}

{% load static %}

{%block content%}
<h1>Search your favourite Health Food</h1>


<p class=m-3>
    Here you can see all food items that we have.
</p>
<div style="display:flex;flex-wrap:wrap">

    {%for healthfood in healthfood %}

    <div class="card m-3" style="width:18rem;">
        <div class="card-body">
            <img class="card-img-top" src="{{healthfood.image.cdn_url}}" alt="image">
            <h5 class="card-title"> Name:{{healthfood.title}}</h5>
            <p class="card-title"> Description:{{healthfood.description}}</p>

        </div>
        <a href="{% url 'update_healthfood_route' healthfood_id=healthfood.id %"
            class="btn btn-primary btn-sm mb-2 mt-2">Edit</a>
        <a href="{% url 'delete_healthfood_route' healthfood_id=healthfood.id %"
            class="btn btn-primary btn-sm mb-2 mt-2">Delete</a>
    </div>

    {%endfor%}

</div>
{%endblock%}