{% extends 'base.template.html' %}

{% load static %}
{% load crispy_forms_tags %}

{%block content%}

{% if request.user.is_authenticated  %}
<h4>Welcome {{request.user}}</h4>
{% else %}
<a href="/accounts/login" class="btn btn-primary btn-sm mb-2 mt-2" s>Login</a>
{%endif%}

<a href="/accounts/logout" class="btn btn-primary btn-sm mb-2 mt-2">Logout</a>

<a href="/accounts/signup" class="btn btn-info btn-sm mb-2 mt-2"> sign up</a>

<h1>Search your favourite Health Food</h1>

<form method="GET">
    {{search_form|crispy}}
    <input type="submit" value="Search" />
</form>


<div style="display:flex;flex-wrap:wrap">

    {%for healthfood in healthfood %}


    <div class="card m-3" style="width:18rem;">
        <div class="card-body">
            <img class="card-img-top" src="{{healthfood.image.cdn_url}}" alt="image">
            <h5 class="card-title"> Name:{{healthfood.title}}</h5>

            <p class="card-title"> Producer:{{healthfood.maker}}</p>
        </div>

        <a href="{% url 'view_healthfood_details' healthfood_id=healthfood.id %}"
            class="btn btn-primary btn-sm mb-2 mt-2">Details</a>

        <a href="{% url 'update_healthfood_route' healthfood_id=healthfood.id %}"
            class="btn btn-primary btn-sm mb-2 mt-2">Edit</a>
        <a href="{% url 'delete_healthfood_route' healthfood_id=healthfood.id %}"
            class="btn btn-primary btn-sm mb-2 mt-2">Delete</a>
    </div>



    {%endfor%}



</div>
{%endblock%}