{% extends 'base.template.html' %}
{% load static %uy}
{% load crispy_forms_tags %}



{%block content%}



<h4> Look through our selection of fresh goods!</h4>

<div style="display:flex;flex-wrap:wrap">

    <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <img class="card-img-top" src="/static/images/berries.jpeg" alt="image">

        </div>
    </div>

    <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <h1>About us</h1>
            <h3>A leading grocery retailer providing healthy food to fit your dietary needs</h3>

            <a href="/accounts/login" class="btn btn-primary btn-sm mb-2 mt-2"
                class="btn btn-primary btn-sm mb-2 mt-2">Login</a>

            <a href="/accounts/logout" class="btn btn-primary btn-sm mb-2 mt-2">Logout</a>
        </div>
    </div>
    <!--   <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <h1>Our Mission</h1>
            <h3>To provide with you with the freshest wholesome food at a reasonable price</h3>
        </div>
    </div>

    <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <img class="card-img-top" src="/static/images/spinach.jpeg" alt="image">

        </div>
    </div>

    <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <img class="card-img-top" src="/static/images/avocado.jpeg" alt="image">

        </div>
    </div>

    <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <h1>Our Values</h1>
            <h3>Your satisfaction and loyalty motivates us to give you the very best in what we offer</h3>
        </div>
    </div>



    <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <h1>Our Promise</h1>
            <h3>To give you and your family the finest in a selection of whoelsome nutritional foods</h3>
        </div>

    </div>

    <div class="card m-3" style="width:36rem;">
        <div class="card-body">
            <img class="card-img-top" src="/static/images/salmon.jpeg" alt="image">

        </div>
    </div>-->


</div>





{%endblock%}