{% extends 'base.template.html' %}
{% load static %uy}
{% load crispy_forms_tags %}



{%block content%}

<a href="/accounts/login" class="btn btn-primary btn-sm mb-2 mt-2" style="position:absolute; right:10px;">Login</a>



<div class="container">
    <div class="row">
        <div class="col">

            <h3>Welcome to your one stop healthfood e-mart.</h3>

            <h3>Check our our latest in-store goods</h3>

            <h1> Fresh,healthy food for your daily needs</h1>

            <h3 class="mt-4">Shop for your produce today!</h3>

        </div>

        <div class="col order-1">

            <img src="/static/images/healthy2.jpeg" class="img-fluid" alt="Responsive image">

        </div>


    </div>
</div>

<h4> Look through our selection of fresh goods!</h4>

<div class="container">

    <div class="row">
        <div class="col">

            <img src="/static/images/avocado.jpeg" class="img-fluid" alt="avocao">


        </div>

        <div class="col">

            <img src="/static/images/berries.jpeg" class="img-fluid" alt="berries">

        </div>


        <div class="w-100">

        </div>
        <div class="col">

            <img src="/static/images/salmon.jpeg" class="img-fluid" alt="salmon">

        </div>


        <div class="col">

            <img src="/static/images/spinach.jpeg" class="img-fluid" alt="spinach">

        </div>


    </div>
</div>
</div>

{%endblock%}

<footer>
    <p>Healthy4Life</p>
    <p>Email: Health4Life@gmail.com</p>
</footer>