{% extends "base.template.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<div style="display:flex;flex-wrap:wrap">
    <div class="card m-3" style="width:26rem; height:20rem;">
        <div class="card-body">

            <h3 class=>{% trans 'Are you sure you want to Logout?' %}</h3></br></br>

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-secondary mb-2 mt-2">{% trans 'Logout' %}</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}